<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Assignment</title>
	<script src="/static/utility.js"></script>
  </head>
  <body>
	<h1>Login</h1>	
	<form name="my_form" >
		ID &emsp;&emsp;&emsp;&emsp;<input  type="text" name="id"><br><br>

		Password &emsp;<input  type="text" name="pass"><br><br><br>
		<input type="button" class="btn btn-sm" onclick="submitData('/submitJSON2')" value="Submit">
		<br></br><br></br>
		<a  href="/changepassword/" input type="button" class="btn btn-sm">Change Password</button><br></br><br></br>
		<a  href="/" input type="button" class="btn btn-sm">Back</button>	
	</form>		
	<div class="row">
    			<div class="col-md-8" align="left" style="float:left; margin-top: 0.45cm;" id="output_div">
    			</div>
    	</div>			
</body>
</html>
