<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Assignment</title>
	<script src="/static/utility.js"></script>
  </head>
  <body>
	<h1>Details</h1>	
	<form name="my_form" >
		Application no &nbsp;<input  type="text" name="appno"><br><br>
		<input type="button" class="btn btn-sm" onclick="submitData('/submitJSON3')" value="Submit"><br><br><br><br>
		<a  href="/" input type="button" class="btn btn-sm">Back</button>
			<br></br>	
	</form>	
	
	<div class="row">
    			<div class="col-md-8" align="left" style="float:left; margin-top: 0.45cm;" id="output_div">
    			</div>
    	</div>			
</body>
</html>
