<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Assignment</title>
	<script src="/static/utility.js"></script>
  </head>
  <body>
	<h1>Student Exam Conducting website</h1>	
	<form name="my_form" >
		<a  href="/register/" input type="button" class="btn btn-sm">Register</button>
		<br></br>
		<a  href="/admitcard/" input type="button" class="btn btn-sm">Admit Card</button>
		<br></br>
		<a  href="/pyq/" input type="button" class="btn btn-sm">Previous Tierce Paper</button>
		<br></br>
		<a  href="/admin/" input type="button" class="btn btn-sm">Admin</button>
		<br></br>	
	</form>	
	
	<div class="row">
    			<div class="col-md-8" align="left" style="float:left; margin-top: 0.45cm;" id="output_div">
    			</div>
    	</div>			
</body>
</html>
