<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Assignment</title>
	<script src="/static/utility.js"></script>
  </head>
  <body>
	<h1>Previous Tierce Question Papers</h1>	
	<form name="my_form" >
		<a  href="/static/Tierce-1.pdf" input type="button" class="btn btn-sm">Tierce-1(2020-2021)</button>
		<br></br>
		<a  href="/static/Tierce-2.pdf" input type="button" class="btn btn-sm">Tierce-2(2020-2021)</button>
		<br></br><br></br>
		<a  href="/" input type="button" class="btn btn-sm">Back</button>
			<br></br>
	
	<div class="row">
    			<div class="col-md-8" align="left" style="float:left; margin-top: 0.45cm;" id="output_div">
    			</div>
    	</div>			
</body>
</html>
