<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Assignment</title>
	<script src="/static/utility.js"></script>
  </head>
  <body>
	<h1>Student Exam Registration form</h1>	
	<form name="my_form" >
		<br><br>
		Student Name &nbsp;&emsp;&emsp;&emsp;<input  type="text" name="name">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		Gmail id &nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;<input  type="text" name="gmail"><br><br><br>
		Father's Name &nbsp;&emsp;&emsp;&emsp;<input  type="text" name="fname">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		Mother's Name &nbsp;&emsp;&emsp;&emsp;<input  type="text" name="mname"><br><br><br>
		Gender &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input  type="text" name="gender">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		Date of birth &nbsp;&emsp;&emsp;&emsp;&emsp;<input  type="text" name="dob"><br><br><br>
		Category &nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input  type="text" name="category">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		Age &nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;<input  type="text" name=age><br><br><br>
		Religion &emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;<input  type="text" name="religion">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		Mobile no &nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;<input  type="text" name="mob"><br><br><br>
		House No &nbsp;&nbsp;&nbsp;&emsp;&nbsp;&emsp;&emsp;&emsp;<input  type="text" name="hno">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		City/Village &nbsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;<input  type="text" name="cv"><br><br><br>
		District &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input  type="text" name="district">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		State &nbsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;<input  type="text" name="state"><br><br><br>
		Pincode &nbsp;&nbsp;&emsp;&emsp;&nbsp;&emsp;&emsp;&emsp;<input  type="text" name="pincode">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		Country &nbsp;&emsp;&emsp;&nbsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;<input  type="text" name="country"><br><br><br>


		<input type="button" class="btn btn-sm" onclick="submitData('/submitJSON1')" value="Submit">	
	</form>	<br></br><br></br>
	<a  href="/" input type="button" class="btn btn-sm">Back</button>
		<br></br>
	
	<div class="row">
    			<div class="col-md-8" align="left" style="float:left; margin-top: 0.45cm;" id="output_div">
    			</div>
    	</div>			
</body>
</html>
